// $accentColor = #424242
// $accentColor = #1062b4
// $textColor = #232321

// 颜色
$accentColor = #4e98bb
$textColor = #232321
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #5cb85c
$badgeWarningColor = #ffd51e
$badgeErrorColor = #d95376

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 16rem
$contentWidth = 890px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px


$MQWide ?= 1440px
$MQMobile ?= 768px

body{
    background-size:cover;
    background-attachment:fixed;
    color #000;
}
header{
    background:rgba(255,255,255,.5)
}


main .content__default{
    background:rgba(255,255,255,.7);
    border-radius: 10px;
    backdrop-filter: blur(2px);
}

aside{
    background:rgba(255,255,255,.7)
}

td,th{
    border:1px solid rgba(186,186,186,.8) !important
}

.sidebar-group-items>li>.sidebar-link{
 font-weight:900 !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.site-name,.links{
    background:rgba(255,255,255,0) !important 
}
.sidebar-links{
    user-select: none;    
}
// .nav-dropdown{
//     background:rgba(255,255,255,.6) !important  
// }
